{% extends "layout.html" %}
{% block content %}
  <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='signin/signin.css') }}" rel="stylesheet">
  <body class="text-center">
    <style>
    body {
    background-image: url("{{ url_for('static', filename='signin/images.jpg') }}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    </style>
    <form class="form-signin">
  <img class="mb-4" src="{{ url_for('static', filename='signin/google.png') }}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
  <a class="btn btn-lg btn-primary btn-block" href="{{ auth_url }}">Sign in</a>
  <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
  <p class="mt-5 mb-3 text-muted">&hearts; Sourav Krishna Vishal</p>
</form>
</body>
{% endblock content %}